body {
    background-color: #010101;
    color: #fff;
    /*bold minecraft font*/
    font-family: 'Minecraftia', sans-serif;
    font-size: 1.2em;
    text-shadow: 0 0 0.1em #016293;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 50px;
    
}

.header {
    background-color: #010101;
    border-radius: 10px;
    display:flex;
    border: 5px solid #003E5C;
  }


.skinContainer {
    background-color: #01629334;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.skinContainer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.skinContainer h1 {
    color: #1e512833;
    font-size: 1.2em;
    text-shadow: 0 0 0.1em #01629334;
    font-size: 14px;
    margin: 10px;
}


/* profile should be similar to skinContainer */
.profile {
    background-color: #01629334;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px;
}

.list{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.animations {
    display: flex;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    gap: 10px;
}

.animations .animation {
    filter: invert(1);
    height: 10px;
}


.view {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 1000px;
    width: 103%;
}

.view .bar {
    width: calc(100% - 22px);
    border: 3px solid #003E5C;
    background-color: #01629334;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: #003E5C;
    transition: .3s ease;
}
.view .bar:hover {
    background-color: #01629334;
    color: #f8f8f8;
}

.content {
    display: flex;
    gap: 10px;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    background-color: #01629334;
    color: #fff;
}

.skins{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    background-color: #01629334;
    color: #fff;
}

.skins img {
    width: 20px;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
}

h2 {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #003E5C;
    margin: 0 -10px 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

h1 {
    width: 97%;
    border-bottom: 3px solid #003E5C;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
}

.legendary {
    color: hsla(0,0%,100%,.5) !important;
    background: linear-gradient(270deg,#f0f 0,#f0f 30%,#0f0 50%,#ff0 80%,#f0f) 0 0 repeat-x;
    background-size: 300px;
    -webkit-background-clip: text;
    background-clip: text;
    animation: legendary 7s infinite;
}


.history {
    min-width: max-content;
}
.line {
    flex-wrap: wrap;
}
.data {
    gap: 10px;
}

@keyframes legendary {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 300px 0;
    }
}

@media (max-width: 730px) {
    .content {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .skinContainer {
        width: 100%;
    }
    .skin {
        width: 100% !important;
    }
    .right {
        width: 100%;
    }
    .profile {
        width: calc(100% - 22px);
    }
    .view {
        width: calc(100% - 10px);
    }
}